:root {
    background-color: rgb(255, 253, 253);
    font-family: "Poppins", sans-serif;
    /* classes */

    --max-width: 100%;
    --font-weight: 600;
    --fotn-size: 20px;
    --description-titles-font-size: 30px;
    --description-titles-font-weight: 900;
    --text-content-font-size: 18px;
    --content-titles-width-size: 60%;
    --content-content-width-size: 60%;
    /* colors */
    --buttons-background-color: rgb(56, 116, 212);
    --text-content-font-color: rgb(167, 167, 167);
    --footer-background-color: rgb(81, 81, 221);
    --box-shadow-colors: 0px 4px 8px rgba(38, 31, 249, 0.2);
}

.main-website {
    max-width: 100rem;
    margin: auto;
}

/* Navbar */

.nav-bar {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    width: var(--max-width);
    height: auto;
    margin: auto;
    align-items: center;
}

.navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo-active {
    display: none;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar-elements {
    display: flex;
    justify-content: space-between;
}

.nav-bar-hamburger-close {
    display: none;
    width: 2rem;
    cursor: pointer;
}

.nav-bar-hamburger-img {
    display: none;
    width: 2rem;
    cursor: pointer;
    opacity: 1;
}

.nav-bar-li {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
    font-weight: var(--font-weight);
    font-size: var(--fotn-size);
}

.nav-bar-li-active {
    display: flex;
    justify-content: space-around;
    width: var(--max-width);
    height: auto;
    margin: auto;
    align-items: center;
}

.nav-bar-li-active li {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
    font-weight: var(--font-weight);
    font-size: var(--fotn-size);
}

.nav-bar-clicable-elements {
    cursor: pointer;
}

.nav-bar-clicable-elements:hover {
    color: rgb(209, 46, 46);
    border-radius: 5px;
}

.nav-bar-li button {
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.nav-bar-li button:hover {
    border: 2px solid red;
}

.nav-bar-li-active button:hover {
    border: none;
    cursor: pointer;
    color: red;
}

/* Content top */

.content-top {
    flex-wrap: wrap;
    width: var(--max-width);
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.description {
    display: flex;
    width: 45%;
    height: auto;
    display: block;
    margin: auto;
    padding: 40px;
    padding-top: 5%;
}

.description-title {
    width: var(--content-titles-width-size);
    height: auto;
    padding: 1rem;
    margin: auto;
}

.description-title span {
    font-weight: var(--font-weight);
    font-size: var(--description-titles-font-size);
    font-weight: var(--description-titles-font-weight);
}

.description-content {
    max-width: var(--content-content-width-size);
    height: auto;
    color: var(--text-content-font-color);
    padding: 1rem;
    margin: auto;
    font-weight: var(--font-weight);
    font-size: var(--text-content-font-size);
}

.description-content-buttons {
    flex-wrap: wrap;
    width: var(--content-content-width-size);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    margin: auto;
}

.description-content-buttons button {
    min-width: 12rem;
    min-height: 2rem;
    border-radius: 5px;
    min-height: 2rem;
    cursor: pointer;
    background-color: white;
    border: 3px solid grey;
    font-size: var(--text-content-font-size);
    font-weight: var(--font-weight);
}

.description-content-buttons button:hover {
    border: 3px solid var(--buttons-background-color);
    color: var(--buttons-background-color);
}

.content-immage {
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: auto;
    cursor: pointer;
}

/* Features */

.features {
    width: var(--max-width);
    height: auto;
    margin: auto;
    display: block;
    margin-top: 10rem;
}

.features-title {
    width: 30%;
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}

.features-title span {
    width: var(--max-width);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--description-titles-font-size);
    font-weight: var(--description-titles-font-weight);
}

.features-content span {
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: var(--text-content-font-size);
    font-weight: var(--font-weight);
    color: var(--text-content-font-color);
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.features-list {
    width: 50%;
    margin: auto;
    border-bottom: 2px solid grey;
}

.features-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.features-list ul li {
    margin-bottom: 2rem;
}

.features-list ul li a {
    cursor: pointer;
    font-size: 20px;
    flex-wrap: wrap;
}

.features-list ul li:hover {
    color: red;
    text-decoration: underline 2px solid red;
    transition: color 0.5s ease, text-underline-offset 0.3s ease;
    text-underline-offset: 1rem;
}

/* Content middle */
.content-middle {
    flex-wrap: wrap;
    width: var(--max-width);
    height: auto;
    margin: auto;
    display: flex;
    margin-top: 10rem;
}

.content-middle-img {
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: auto;
    cursor: pointer;
}

.content-middle-content {
    width: var(--content-content-width-size);
    height: auto;
    margin: auto;
    display: block;
}

.content-middle-title {
    width: var(--content-titles-width-size);
    height: auto;
    margin: 1rem 2rem;
}

.content-middle-title span {
    font-size: var(--description-titles-font-size);
    font-weight: var(--description-titles-font-weight);
}

.content-middle-text {
    width: var(--content-content-width-size);
    height: auto;
    margin: 1rem 2rem;
    font-size: var(--text-content-font-color);
    color: var(--text-content-font-color);
    font-weight: 600;
    font-size: 18px;
}

.content-middle-buttons button {
    width: 7rem;
    height: 3rem;
    font-size: var(--fotn-size);
    margin: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--buttons-background-color);
    color: white;
    border: 2px solid var(--buttons-background-color);
}

.content-middle-buttons button:hover {
    color: var(--buttons-background-color);
    background-color: white;
    border: 2px solid var(--buttons-background-color);
}

/* Content Download */
.content-download {
    width: var(--max-width);
    height: auto;
    margin: auto;
    display: block;
    margin-top: 10rem;
}

.content-download-part-text {
    width: var(--content-content-width-size);
    height: auto;
    margin: auto;
    padding: 40px;
}

.content-download-title span {
    display: flex;
    justify-content: center;
    font-size: var(--description-titles-font-size);
    font-weight: var(--description-titles-font-weight);
    padding: 20px;
}

.content-download-content span {
    color: var(--text-content-font-color);
    font-weight: var(--font-weight);
    font-size: var(--text-content-font-size);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.content-download-part-download {
    width: var(--content-content-width-size);
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.chrome-section {
    width: 12rem;
    height: auto;
    box-shadow: var(--box-shadow-colors);
    border-radius: 7px;
}

.firefox-section {
    margin-top: 5rem;
    width: 12rem;
    height: auto;
    box-shadow: var(--box-shadow-colors);
    border-radius: 7px;
}

.opera-section {
    margin-top: 10rem;
    width: 12rem;
    height: auto;
    box-shadow: var(--box-shadow-colors);
}

.browser-icon {
    width: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browser-title span {
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--text-content-font-size);
    font-weight: var(--font-weight);
}

.browser-text span {
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: rgb(166, 166, 167)
}

.browser-bg-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
}

.browser-bg-dots img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browser-button-install {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.browser-button-install button {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    background-color: var(--buttons-background-color);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    height: auto;
    cursor: pointer;
}

.browser-button-install button:hover {
    background-color: rgb(255, 255, 255);
    color: var(--buttons-background-color);
    border: 1px solid var(--buttons-background-color);
}

/* Content Bottom */

.component-bottom {
    width: var(--max-width);
    height: auto;
    margin: auto;
    display: block;
    margin-top: 10rem;
}

.component-bottom-title {
    width: var(--content-content-width-size);
    height: auto;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.component-bottom-title span {
    font-size: var(--description-titles-font-size);
    font-weight: var(--description-titles-font-weight);
}

.component-bottom-text {
    width: var(--content-titles-width-size);
    height: auto;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.component-bottom-text span {
    font-size: var(--text-content-font-size);
    font-weight: var(--font-weight);
    color: grey;
}

.component-bottom-questions-list {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    padding: 1rem;
}

.component-bottom-questions-list ul li {
    width: var(--max-width);
    height: auto;
    cursor: pointer;
    font-size: 20px;
    font-weight: var(--font-weight);
    border-bottom: 2px solid rgb(182, 178, 178);
}

.component-bottom-questions-list ul li:hover {
    color: rgb(237, 64, 41);
}

.component-bottom-questions-list ul li span {
    width: var(--max-width);
    height: auto;
}

.component-bottom-answer-list {
    display: flex;
    justify-content: space-between;
}

.component-bottom-question-answer {
    color: grey;
    font-size: var(--fotn-size);
    font-weight: var(--font-weight);
}

.arrow {
    width: 25px;
    height: 15px;
}

.arrow-transform {
    transform: rotate(180deg);
    width: 25px;
    height: 15px;
}

.component-bottom-button {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.component-bottom-button button {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    width: 7rem;
    height: 3rem;
    align-items: center;
    background-color: var(--buttons-background-color);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.component-bottom-button button:hover {
    background-color: white;
    color: var(--buttons-background-color);
    border: 2px solid var(--buttons-background-color);
}

/* Footer */
.footer {

    width: var(--max-width);
    height: auto;
    margin: auto;
    display: block;
    margin-top: 10rem;
    background-color: var(--footer-background-color);

}

.footer-users-joined {
    width: var(--content-content-width-size);
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 3rem;

}

.footer-users-joined span {
    font-weight: var(--font-weight);
    font-size: var(--text-content-font-size);
    color: rgb(255, 253, 253)
}

.footer-title {
    width: var(--content-titles-width-size);
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2rem;
}

.footer-title span {
    font-weight: var(--font-weight);
    font-size: 35px;
    text-align: center;
    color: rgb(250, 248, 248)
}

.footer-form {
    width: var(--content-content-width-size);
    height: 5rem;
    padding: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer-form form {
    justify-content: center;
    gap: 1rem;
    display: flex;
}

.footer-form-input {
    width: 16rem;
    height: 2rem;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: var(--font-weight);
    border: 2px solid rgb(232, 232, 232);
}

.footer-form-input-error {
    border-color: red;
}

.footer-contact-button {
    width: 6rem;
    height: 2.2rem;
    border-radius: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.footer-contact-button:hover {
    border: 2px solid grey;
    color: grey
}

.footer-contact-button-error {
    color: red;
    border: 2px solid red;
}

.footer-error-message {
    background-color: rgb(238, 51, 51);
    color: white;
    width: 16rem;
    height: auto;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: var(--fotn-size);
    text-align: center;
    border: 2px solid rgb(238, 51, 51);
}

.footer-inputs {
    display: block;
}

/* Bottom Navbar */

.bottom-navBar {
    width: var(--max-width);
    min-height: 5rem;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 26, 66);
    color: white;
}

.img-bottom-navbar {
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.bottom-navBar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.bottom-navbar-clicable-elements {
    font-size: var(--fotn-size);
    font-weight: var(--font-weight);
}

.bottom-navbar-clicable-elements:hover {
    color: rgb(186, 28, 28);
    cursor: pointer;
}

.fb-twit {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fb-twit:hover {
    background-color: rgb(186, 26, 26);
    cursor: pointer;
}

.navbar-bottom-elements {
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

@media (max-width: 760px) {

    .nav-bar-li-active {
        display: block;
        list-style: none;
        font-weight: var(--font-weight);
        font-size: var(--fotn-size);
        border: 2px solid black;
        width: var(--max-width);
        height: 100vh;
        margin: auto;
        text-align: center;
        padding: 20px;
        z-index: 999;
        opacity: 0.9;
        background-color: rgb(20, 22, 42);
    }

    .nav-bar-li-active li {
        display: block;
        list-style: none;
        font-weight: var(--font-weight);
        font-size: var(--fotn-size);
        padding: 20px;
        width: 50%;
        height: auto;
        background-color: rgb(20, 22, 42);
        margin: auto;
        border-bottom: 2px solid rgb(171, 170, 170);
        color: white;
    }

    .nav-bar-hamburger-img {
        display: block;
    }

    .nav-bar-clicable-elements {
        display: none;
    }

    .bottom-navBar ul {
        flex-direction: column;
        margin: auto;
        padding: 2rem;
    }

    .nav-bar-hamburger-close {
        display: block;
        cursor: pointer;
    }

    .nav-bar-clicable-elements:hover {
        color: rgb(209, 46, 46);
        border: 1px solid white;
        border-radius: 5px;
    }

    .bottom-navBar {
        display: block;
    }

    .navbar-bottom-elements {
        margin: auto;
    }

    .fb-twit {
        margin-bottom: 2rem;
    }

    .navbar-logo {
        display: none;
    }

    .navbar-logo-active {
        display: flex
    }
}