:root {
  --resolution-deskop: 1440px;
  --resolution-mobile: 375px;

  --color-red: hsl(0, 94%, 66%);
  --color-blue: hsl(231, 69%, 60%);
  --color-dark-blue: hsl(229, 31%, 21%);
  --color-grey: hsl(229, 8%, 60%);

  --font-rubik: "Rubik", sans-serif;
  --body-font-size: 18px;
  --title-font-size: 30px;
  --font-weight-bold: 400;
  --font-weight-bolder: 500;
  --width-containers: 50%;
  --box-shadow-colors: 0px 4px 8px hsl(229, 31%, 21%);
}

.main {
  max-width: var(--resolution-deskop);
  min-height: 100px;
  margin: auto;
}

.bookmark,
.features,
.download-the-extension,
.frequently-asked-questions,
.footer,
.nav-bar-bottom {
  width: 100%;
  min-width: 375px;
  min-height: 5rem;
  font-size: var(--body-font-size);
  font-weight: var(--font-weight-boold);
  border-radius: 5px;
  margin: auto;
  margin-bottom: 2rem;
}